<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

    <meta name="theme-color" content="#ffffff">
    <!-- TODO check which pure modules we actually need && load them statically instad of crossorigin-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/opensanshebrew.css">
    <link rel="stylesheet" href="/css/style.css">

    {% block scripts %}{% endblock %}
  </head>

  <body>
    <div class="hidden">
        <iframe src="http://video.tau.ac.il/index.php?option=com_videos&view=video&id=6772&Itemid=53&lang=he"></iframe>
    </div>
    <div id="content">
        <div id="header">
            <a href="/" id="header-text">
                <span>tauvid</span>
            </a>
        </div>
        <div id="breadcrumbs">
             <ul class="breadcrumb">
            {% for label, uri in breadcrumbs[:-1] %}
              <li><a href="{{uri}}">{{label}}</a></li>
            {% endfor %}
              <li><span>{{breadcrumbs[-1][0]}}</span></li>
            </ul> 
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="footer">
    </div>
  </body>

</html>